body {
	font-family: 'Open Sans' , 'sans-serif';
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	color: white;
	font-size: 2em;
}


.icon {
	width: 1em;
	height: 1em;
	text-align: center;	
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.quotespace {
	padding-left: 1em;
}



.col-md-6 {
	padding-left: 1.5em;
}

h1 {
	padding-left: 1.5em;
	font-size: 2em;
	font-family: 'Open Sans' , 'sans-serif';
	font-weight: 900;
}

#quotearea {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}